// bootstrap
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

// custom
@import "./partials/resets";
@import "./partials/variables";
@import "./partials/sizes";
@import "./partials/colors";

#MyPencil {
    bottom: 0;
    left: 0;
    transform: translate(10%, -20%);
}

// bootstrap
@import "../bootstrap/scss/bootstrap.scss";