// nav
nav {
  img {
    width: 30%;
  }

  #navLeft {
    width: 78%;
  }

  #navRight {
    width: 20%;
  }
}

// filter
#MyFilter {
  #MyFilterLeft {
    width: 78%;
  }

  #MyFilterRight {
    width: 20%;
  }
}
