// nav
nav {
  #MyLogo {
    width: 120px;
  }

  #MyAvatar {
    width: 40px;
  }
}

// filter
#MyFilter {
  #MyFilterLeft {
    width: 78%;
  }

  #MyFilterRight {
    width: 20%;
  }
}

// profile
// #profile_page {
//   #MyLogo {
//     width: 120px;
//   }

//   #avatar_profile {
//     width: 120px;
//   }

// }