$MyGray: rgb(164, 164, 164);
$theme-colors: map-merge(
  $theme-colors,
  (
    "MyGray": $MyGray,
  )
);

$MyDark: #3c3c3c;
$theme-colors: map-merge(
  $theme-colors,
  (
    "MyDark": $MyDark,
  )
);
